@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header section style */
.header-container {
  border: 2px solid;
  width: 1440px;
  height: 131px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  color: #0D1321;
  font-family: "Azeret Mono";
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 0;

}

.header-left h2 {
  padding: 0;
  margin-top: 50px;
  margin-left: 150px;
}

.h-button {
  color: #0D1321;
  padding: 17px 24px;
  margin-right: 150px;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  border: 1px solid #0D1321;
  opacity: 0.8;
}

/* hero section */

.hero-container {
  border: 2px solid red;

  width: 1440px;
  height: 652px;
  margin: 0 auto;
  background-image: url(assets/Hero-bg.png);
  display: flex;
  flex-direction: column;
}

.hero-image {
  border: 2px solid;
  width: 998px;
  height: 272px;
  margin: 26px auto 0;
  text-align: center;

}

.hero-image img {
  height: 241px;
}

.hero-mid {
  border: 2px solid;
  width: 998px;
  height: 136px;
  margin: 0 auto;
  text-align: center;
}

.hero-mid h4 {
  color: #0D1321;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
}

.hero-bottom {
  border: 2px solid;
  width: 998px;
  height: 76px;
  margin: 0 auto;
}

.hero-bottom h5 {
  color: #0D1321;

  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.hero-button {
  padding: 0;
  border: 2px solid;
  width: 998px;
  height: 96px;
  margin: 0 auto;
  text-align: center;
}

.hero-button button {
  color: #FFF;
  font-family: "Azeret Mono";
  font-size: 20px;
  height: 65px;
  width: 244px;
  margin: 32px 377px 0;
  border-radius: 8px;
  background: #0D1321;

}

.hero-btn {
  padding: 0;
}

/* Developer section begins */
.dev-container {
  border: 2px solid;
  width: 1140px;
  height: 1393px;
  margin: 74px auto 90px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}

.dev-container h2 {
  color: rgba(13, 19, 33, 0.70);
  font-family: "Azeret Mono";
  font-size: 24px;
}

.dev-container h3 {
  color: #0D1321;

  font-family: "Azeret Mono";
  font-size: 16px;
}

.dev-head {
  border: 2px solid salmon;
  width: 852px;
  height: 113px;
  margin: 80px auto 48px;
  text-align: center;
}

.dev-head h4 {
  margin: 0;
  color: #0D1321;
  font-family: "Azeret Mono";
  font-size: 32px;
}

.dev-head h5 {
  margin-top: 20px;
  color: #0D1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
}

.dev-top {
  border-radius: 16px;
  background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
  border: 2px solid green;
  width: 946px;
  height: 336px;
  margin: 0 auto 32px;
  display: flex;
  justify-content: space-between;
}

.dev-container button {
  height: 47px;
  width: 171px;
  margin-bottom: 58px;
}

.top-left {
  border: 2px solid;
  width: 477px;
  height: 230px;
  margin: 48px 0 48px 48px;
}

.top-left h3 {
  margin-bottom: 3px;
}

.top-right {
  border: 2px solid;
  width: 275px;
  height: 230px;
  margin: 48px 48px 48px 0;
}

.dev-mid {
  border-radius: 16px;
  background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
  border: 2px solid red;
  width: 946px;
  height: 336px;
  margin: 0 auto 32px;
  display: flex;
  justify-content: space-between;
}

.mid-left {
  border: 2px solid;
  width: 275px;
  height: 230px;
  margin: 48px auto 48px 48px;
}


.mid-right {
  border: 2px solid;
  width: 477px;
  height: 230px;
  margin: 48px 48px 48px auto;
}

.dev-bottom {
  border: 2px solid blue;
  border-radius: 16px;
  background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
  width: 946px;
  height: 336px;
  margin: 0 auto 80px;
  display: flex;
  justify-content: space-between;
}

.bottom-left h3 {
  /* margin-bottom: 5px; */
  padding-bottom: 5px;
}

.bottom-left button {
  margin-top: 6px;

}

/* inspire section begins */
.insp-container {
  border: 2px solid blue;
  height: 775px;
  width: 1140px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 151px;
}

.insp-top {
  border: 2px solid red;
  height: 161px;
  width: 852px;
  margin: 0 auto
}

.insp-top h3 {
  color: #0D1321;

  text-align: center;
  font-family: "Azeret Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.insp-top p {
  color: #0D1321;
  opacity: 0.7;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.insp-bottom {
  height: 614px;
  width: 1140px;
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.20);
}

.vid iframe {
  padding: 32px;
  /* border-radius: 16px; */

}

iframe {
  border-radius: 45px !important;
}

/* Current Goal Section */
.goal-container {
  border: 2px solid;
  height: 460px;
  width: 1140px;
  margin: 0 auto 111px;

}

.goal-top {
  border: 2px solid red;
  height: 113px;
  width: 852px;
  margin: 0 auto;
}

.goal-top h3 {
  color: #0D1321;
  margin: 0;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.goal-top h4 {
  margin-top: 24px;
  color: #0D1321;

  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.goal-down {
  border: 2px solid blue;
  height: 299px;
  width: 1140px;
  margin: 44px auto 0;
  display: flex;
  gap: 24px;
}

.goal-down img {
  width: 56px;
}

.down-left {
  border: 2px solid green;
  padding: 20px;
  height: 299px;
  width: 364px;
  margin: 0;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  box-sizing: border-box;
}

.down-mid {
  border: 2px solid salmon;
  padding: 20px;
  height: 299px;
  width: 364px;
  margin: 0;
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  box-sizing: border-box;
}

.down-right {
  border: 2px solid green;
  padding: 20px;
  height: 299px;
  width: 364px;
  margin: 0;
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
  box-sizing: border-box;
}

.goal-down h3 {
  color: #0D1321;
  margin-bottom: 10px;
  padding: 0;
  font-family: "Azeret Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px;
}

.goal-down h4 {
  color: #0D1321;
  margin: 0 auto 5px;
  padding: 0;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.goal-down a {
  color: #0D1321;
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

/* future goal  */
.fgoal-container {
  border: 2px solid;
  height: 866px;
  width: 1140px;
  margin: 0 auto 49px;
}

/* Support section */
.support-container {
  border: 2px solid;
  height: 313px;
  width: 1140px;
  margin: 0 auto 80px;
  /* background-image: url(assets/handshake.jpg); */
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(assets/handshake.jpg) lightgray 50% / cover no-repeat;
}

.support-content {
  border: 2px solid red;
  height: 185px;
  width: 1044px;
  margin: 64px 48px;
  display: flex;
  flex-direction: column;
}

.content-head {

  border: 2px solid brown;
  height: 36px;
  width: 350px;
  margin: 0 auto 12px;
}

.content-head h3 {
  color: #FFF;
  padding: 0;
  margin: 0;
  /* text-align: center; */
  font-family: "Azeret Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.content-body p {
  color: #FFF;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}

.content-body {
  border: 2px solid brown;
  height: 52px;
  width: 606px;
  margin: 0 auto 20px;

}

.content-sub {
  border: 2px solid green;
  width: 750px;
  margin: 0 auto;
  justify-content: space-around;
  display: flex;
}

.inpt {
  width: 548px;
  height: 55px;
  /* gap: 10px; */
  background: #FFF;
  /* align-items: center; */
  border-radius: 8px;
  color: rgba(13, 19, 33, 0.40);
  padding: 1px 20px;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 16px;
}
.submit{
  height: 60px;
  width: 160px;
  color: #0D1321;
  margin-top: 1px;
  padding: 17px 20px;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
}
/* Footer Section */

.footer-container{
  border: 2px solid;
  height: 100px;
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
.footer-left{
  margin:  20px 0 32px 150px;
}
.footer-left p{
  color: #0D1321;
   /* margin: 32px 0; */
   padding: 0;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.footer-right{
  /* justify-content: center;
  align-items: center; */
  margin: 32px 150px;
}
.footer-right a{
   margin: 24px;
}